# Python
**/__pycache__/
*.py[cod]
.pytest_cache/

# Environments
.venv/
venv/
env/
ENV/

# Jupyter checkpoints
.ipynb_checkpoints/
notebooks/.ipynb_checkpoints/
outputs/.ipynb_checkpoints/

# Large model files (too big for GitHub)
models/sentiment_model/
models/final_models/
models/best_model_pipeline.joblib
models/label_encoder.joblib

# Model weights and binaries
*.safetensors
*.pt
*.pth
*.bin

# Logs and OS files
*.log
logs/
.DS_Store
Thumbs.db